body{
	background-color:#e1e1e1;
}


#edit_content.smallContent{
  width: 57.6%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 19.5%;
  overflow: hidden;
  right: 0;
  top: 2.5em;
  
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
  transition: all 0.3s ease; 
}

#edit_content
{
  width: 77.6%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 19.5%;
  overflow: hidden;
  right: 0;
  top: 2.5em;
  
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
   transition: all 0.3s ease; 
}

#right_bar{
	position: absolute;
	left :97.6%;
	width : 2.4%;
	height : 100%;
	top: 2.6em;
}

#right_bar_back{
	position: absolute;
	height : 100%;
	width : 100%;
	background-color: #f1f1f1;	
	border: 1px solid #A1A1A1;
}


.vertical_btn{
	position: absolute;
	left:-1.9em;
	height :2.3em;
	top : 1.65em;
	color:#A1A1A1;
 	writing-mode:tb-rl;
 	white-space:nowrap;
 	display:block;
 	font-weight:normal;
  	-moz-transform:rotate(90deg);
 	-o-transform: rotate(90deg);
	-webkit-transform:rotate(90deg); 
}

#Collaborate_btn.btn_yellow{
	position: absolute;
	left:-1.9em;
	height :2.3em;
	top : 1.65em;
	background-color:#fff;
	color:#000;
 	writing-mode:tb-rl;
 	white-space:nowrap;
 	display:block;
 	font-weight:normal;
  	-moz-transform:rotate(90deg);
 	-o-transform: rotate(90deg);
	-webkit-transform:rotate(90deg);
}

.memo_offC{
	position: absolute;
	position: absolute;
	left: -0.7em;
	height: 2.3em;
	top: 6.4em;
	color:#A1A1A1;
 	writing-mode:tb-rl;
 	white-space:nowrap;
 	display:block;
 	font-weight:normal;
  	-moz-transform:rotate(90deg);
 	-o-transform: rotate(90deg);
	-webkit-transform:rotate(90deg); 	
	
}


#memo_btn.memo_onC{
	position: absolute;
	position: absolute;
	left: -0.7em;
	height: 2.3em;
	top: 6.4em;
	background-color:#fff;
	color:#000;
 	writing-mode:tb-rl;
 	white-space:nowrap;
 	display:block;
 	font-weight:normal;
  	-moz-transform:rotate(90deg);
 	-o-transform: rotate(90deg);
	-webkit-transform:rotate(90deg);
	
}

.run{
	background-position: 100% ;
	display: block;
	height:100%;
	top: 12px !important;
	height: 25px !important;
	left: 2px;
	right: 0;
	top: 4px;
	bottom: 0;
	background-image :url(https://ide.c9.io/static/plugins/c9.ide.layout.classic/icons/run.png);
	background-repeat: no-repeat;
}


#workspace
{
  border:1px solid #A2A2A2;
  background-color:#fff;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 2.84em;
  width: 19%;
}

#workspace-nav
{
  background-color:#fff;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 0px;
  width: 15.5em;
  height: 30px;
}


#workspace-list
{	
  border-top: 1px solid #A2A2A2;
  background-color:#f1f1f1;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 30px;
  width: 100%;
}



/*  ---------------------------test--------------------------   */






#preview {
  position: absolute;
  border-left: 1px solid #a1a1a1;
  border-right: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
  border-top: 1px solid #a1a1a1;
  
  background-color: white;
  top: 1.70em;
  left: 50.2%;
  width: 49.8%;
  height: 70%;
 
}

.dhtmlgoodies_aTab.smallPreview{
	width: 49.8%;
}


    
    