	#editor{
        position: absolute;
        width: 99.5%;
        height: 95%;
	}
	
	#content{
		background-color:black;
		top: 74.5%;
       position: absolute;
       width: 100%;/* 68.5em; */
       height: 100%;
	}
	
	
	#member_top{
	border-bottom : 1px solid #A1A1A1;
	background-color : #f1f1f1;
	position:absolute;
	width: 100%;
	height:4%;
	
	}
	
	.member_layout{
	position:absolute;
	background-color : #fff;
	width: 100%;
	top:4%;
	height: 18%; 
	overflow-y:auto;
	
	}
 	
	.member_layout .member_tree_row{
	position:relative;
	width:100%;
	height:1.7em;
	margin: 1px 1px 1px 1px;
	cursor: default;
	font-family: Tahoma, Arial;
	padding: 2px 0 0 18px;
	}
	
	
	#onoff{
	position:absolute;
	background: rgb(105, 215, 83);
	border-radius: 50%;
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	left: 14px;
	top: 9px;
	}
	
	.member_layout .member_tree_row .member_user{
	position:absolute;
	left:12.5%;
	width: 40%;
	height:100%;
	font-size: 13px;
	top: 5px;
	right: 93px;
	overflow: hidden;
	height: 16px;
	text-overflow: ellipsis
	}
	
/* 	.access_control{
	position:absolute;
	background-color : #5F00FF;
	left:57.5%;
	width: 30%;
	height:100%;
	} */
	
	.access_control {
		width: 50px;
		height: 18px;
		padding: 1px;
		border-radius: 4px;
		font-family: Arial;
		font-size: 10px;
		box-sizing: border-box;
		background: rgba(0, 0, 0, 0.26);
		box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.61) inset;
		
		pointer-events: auto;
		position: absolute;
		right: 40px;
		top: 5px;
	}
	
	
	.access_control .writebutton {
		cursor: pointer;
		width: 22.5px;
		height: 17px;
		display: inline-block;
		text-align: center;
		box-sizing: border-box;
		padding-top: 2px;
		vertical-align: top;
		color: #b3b3b3;
		line-height: 14px;
	}
	
	.access_control .readbutton {
		cursor: pointer;
		width: 22.5px;
		height: 17px;
		display: inline-block;
		text-align: center;
		box-sizing: border-box;
		padding-top: 2px;
		vertical-align: top;
		color: #b3b3b3;
		line-height: 14px;
	}
	
	.access_control .writebutton.selectButton{
		background: #3162C7;
		color:#fff;
		width: 22.5px;
		height: 17px;
		font-family: Arial;
		font-size: 10px;
		border-radius: 2px 0 0 2px;
		box-sizing: border-box;
		box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.61) inset;
	}
	
	.access_control .readbutton.selectButton{
		background: #3162C7;
		color:#fff;
		width: 22.5px;
		height: 17px;
		font-family: Arial;
		font-size: 10px;
		border-radius: 0 2px 2px 0;
		box-sizing: border-box;
		box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.61) inset;
	}
	
	
	
	
	.member_tree_row .kickout {
		width: 12px;
		height: 16px;
		cursor: pointer;
		pointer-events: auto;
		position: absolute;
		right: 14px;
		top: 5px;
		z-index: 100000;
	}
	
	
	#chat_top{
	position:absolute;
	border-bottom: 1px solid #A1A1A1;
	border-top: 1px solid #A1A1A1;
	background-color : #f1f1f1;
	width: 100%;
	top:18%;
	height: 4.1%; 
	}
	
	.chatText{
	position:absolute;
	background-color : #fff;
	overflow:auto;
	font-size: 12px;
	width: 100%;
	top:22.1%;	
	height: 62%;
	flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	}
	
	.chatText p{
		padding: 7px 7px 7px 10px;
		work_wrap:break_work;
		border-bottom:1px dotted #151515;
		position:relative;
		margin: 0px; 
	}
	
	.chatText .chatBorder{
	position: absolute;
	left:0;
	top:0;
	bottom:0;
	width:0;
	
	}
	
	.chatText .chatBorder1{
	position: absolute;
	left:0;
	top:0;
	bottom:0;
	width:0;
	border-left: 5px solid #3DB7CC;
	}
	
	.chatText .chatBorder2{
	position: absolute;
	left:0;
	top:0;
	bottom:0;
	width:0;
	border-left: 5px solid rgb(105, 215, 83);
	}
	
	
	.chatText .authorName{
	text-decoration: none;
	color: #000;
	display:block;
	}
	
	.chatText .chatmessage{
		color:#fff;
		display: block;
		padding: 3px 0 0 0;
	}
	
	
	.chatContainer{
	position: absolute;
	min-height : 50px;
	border-top : 1px solid #A1A1A1;
	border-color : #A1A1A1;	
	border-width : 1px 0 0 0;	
	background-color : #f1f1f1;
	padding : 4px 4px 3px 4px;
	width: 100%;
	top:84%;	
	height: 11.7%;
	}
	
	.text-input{
	position: absolute;
	text-indent:3px;
	width: 74%;
	}
	
	.textSend{
		left: 77%; display: none;
		position: relative;
		width: 24%;
		height: 48px;
	}
	
	.dhtmlgoodies_tabPane{
		background-color: #e1e1e1;
		position: absolute;
		top: 0.3em;
       width: 100%;
		border-bottom:1px solid #919b9c;
	}
	
	.dhtmlgoodies_aTab .dhtmlgoodies_aTab-resizer {
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}
	
	
	.dhtmlgoodies_aTab{
	   position: absolute;
	 	top: 1.74em;
	    width: 100%;
		border-left:1px solid #919b9c;
		border-right:1px solid #919b9c;
		border-bottom:1px solid #919b9c;
	}
	
	
	.dhtmlgoodies_tabPane DIV{
		float:left;
		height:100%;	/* Height of tabs */
		padding-left:3px;
		vertical-align:middle;
		background-repeat:no-repeat;
		background-position:bottom left;
		cursor:pointer;
		position:relative;
		bottom:-1px;
		margin-left:0px;
		margin-right:0px;
		
	}
	
	.dhtmlgoodies_tabPane .tabActive{
		background-image:url('../img/tab_left_active.gif');
		margin-left:0px;
		margin-right:0px;	
		z-index:10;	
	}
	.dhtmlgoodies_tabPane .tabInactive{
		
		background-image:url('../img/tab_left_inactive.gif');
		margin-left:0px;
		margin-right:0px;
		z-index:1;
	}

	.dhtmlgoodies_tabPane .inactiveTabOver{
	
		background-image:url('../img/tab_left_over.gif');
		margin-left:0px;
		margin-right:0px;
	}
	.dhtmlgoodies_tabPane span{
		color:#000;
		font-family:arial;
		vertical-align:top;
		font-size:13px;
		padding-left:3px;
		padding-right:3px;		
		line-height:21px;
		float:left;
	}
	.dhtmlgoodies_tabPane .tabActive span{
	
		padding-bottom:1px;
		line-height:20px;
	}
	
	.dhtmlgoodies_tabPane img{
		float:left;
	}