

.delete{
	float: right;
}
.create{
	font-family:  cursive;
	height:35px;
	font-size:25px;
	margin:6px 6px 5px;
	border-radius: 5px;
	border:#1d6e26;
	background-color:#15bd3f;
}
.pro{
	font-size:20px;
  	margin:3px 3px 3px;
  	position: relative;
}

.selected{
	background-color:#1f79c2;
	color:white;
}
.content-header > span{
	font-family: 'Georgia',cursive;
	font-size:30px;
	color:black;
}
.content-header > .user_span{
	font-family: Georgia;
	 font-size:30px;
	 color:gray;
}

.delete{
	font-family: 'Kaushan Script', cursive;
	position:relative;
	top:15px;
	right:50px;
	width:150px;
	height:30px;
	border-radius: 8px;
	font-size:20px;
	float:right;
}
.start{
	word-spacing:15px;
	font-family: 'Kaushan Script', cursive;
	position:relative;
	float:left;
	left:50px;
	top:15px;
	
	font-size:20px;
	width:170px;
	height:30px;
	border-radius: 8px;
	border:#1d6e26;
	background-color:#15bd3f;
}
.users{
	font-size:8px;
	color:#8c939c;
	font-weight:700;
}
ul{
	/* font-family:serif; */
	
	text-align:left;
	font-weight:500;
	
}
li{
	list-style-type:none;
	
	width:auto;
	
}
.selected .users{
	color:white;	
}
.arrow{
	width:10px;
	height:16px;
	position:absolute;
	right:6px;
	top:7px;
	z-index:10000;
	background:no-repeat 0px 0px url(https://d6ff1xmuve0sx.cloudfront.net/nc-3.0.722-20f677ce/static/oldclient/dashboard/style/images/project-arrow.png);
}
.selected > .arrow{
	width:10px;
	height:16px;
	position:absolute;
	right:6px;
	top:7px;
	z-index:10000;
	background:no-repeat -27px 0px url(https://d6ff1xmuve0sx.cloudfront.net/nc-3.0.722-20f677ce/static/oldclient/dashboard/style/images/project-arrow.png);
	
}

