<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<!-- kendo CSS & JS-->
	 <link href="stylesheets/css/kendo/examples-offline1.css" rel="stylesheet">
    <link href="stylesheets/css/kendo/kendo.common.min.css" rel="stylesheet">
    <link href="stylesheets/css/kendo/kendo.rtl.min.css" rel="stylesheet">
    <link href="stylesheets/css/kendo/kendo.default.min.css" rel="stylesheet">
    <link href="stylesheets/css/kendo/kendo.dataviz.min.css" rel="stylesheet">
    <link href="stylesheets/css/kendo/kendo.dataviz.default.min.css" rel="stylesheet">
	<link href="stylesheets/css/dashboard.css" rel="stylesheet">
	
    
<title>Insert title here</title>
</head>
<body>
<div id="띠"></div>
<div id="띠2">
	<img id="userImage" src="/stylesheets/img/userImage.png">
	<img id="rigthImg" src="/stylesheets/img/small_logo.jpg">
	<b id="username">username</b>
	<div class="button-signout button-signoutIcon  button-signoutDefault " style="box-sizing: border-box; min-width: 1px; min-height: 1px; max-width: 10000px; max-height: 10000px; margin: 0px;">
                    <div class="icon" style="background-image: url(https://d6ff1xmuve0sx.cloudfront.net/nc-3.0.868-a42b657f/static/oldclient/dashboard/style/icons/dashboard_signout.png);"></div>
                    <div id="logout" class="label">Log out</div>
                </div>
	<div id="homeBtn"></div>
</div>

<div id ="leftSide">

	<div id="userImg">
		<div id="music-albums">
			 <div id="album">
	            <div id="album-contents">
	            	<button id ="imgChange" type="button" class="k-button">CHANGE</button>
	            	<button id ="imgDelete" type="button" class="k-button">DELETE</button>
	            </div>
	            <div id="album-cover">
	                <img id ="uuu" src="">
	            </div>
	        </div>
        </div>
	</div>


	<div id="createForm">
		<button type="button" id="createBtn">CREATE NEW WORKSPACE</button>
	</div>

	<div id="projectList">
		
	</div>
	
<!-- 	<div id="bottom">
		<button type="button" id ="refreshBtn" class=""></button>
	</div> -->

</div>

<div id="center_project_main">
	<h1>Dashboard</h1>
	<small>Control panel</small>
</div>
   
<div id="init_main_content" >
	<h1> Welcome to Collabo IDE!</h1>
</div>


<div id="projectTitle" style="display: none">
<div id="innerTitle" ></div>
<button id ="startBtn" type="button" class="k-button">START EDITING</button>
<button id ="deleteBtn" type="button" class="k-button">Delete</button>
</div>

<div id="projectInfo" style="display: none">
	<div id="pInfo">
		<div id="mUser"><mUser>Workspace administrator</mUser>&nbsp;&nbsp;<b id="masterUser">masterUser</b></div>
		<div id="cDay"><cDay>Created</cDay>&nbsp;&nbsp;<b id="createDay">createDay</b></div>
	</div>
	
	<div id="teamMember">
		<span id= "memberS">Team member()</span>
		<div id = "memberList" style="background-image:url(https://secure.gravatar.com/avatar/3f94d531760003ae4d5b99d8329024fe?s=24)"></div>
	</div>
	
	<div id="editorForm">
	<button id='memoSave' class="k-button">save</button>
	<b id ='memoSaved'>memo saved...</b>
		        <textarea id="editor" rows="10" cols="30" style="height:300px" >
          
               </textarea>
	</div>
	
	
</div>

 <div id="create_project_window" style="display: none">
		<div id="create_project_panel">	
			<span id="create_text"></span>
			<input id="create_input"/> 
		</div>   
		
			<button type ="button" id ="create_project_btn" class="k-button" disabled="disabled">Create</button>
 </div>


 <div id="delete_project_window" style="display: none">
		<div id="create_project_panel">	
			<span id="delete_text"></span>
		</div>   
		
			<button type ="button" id ="delete_project_btn" class="k-button">Delete</button>
 </div>



 <form id="img_change_window" enctype="multipart/form-data" style="display: none;" >
         <div class="demo-section k-header">
             <input name="files" id="files" type="file" />
             <p><button id="img_change_btn" type="button" class="k-button" >Submit</button></p>
         </div>
 </form>

 <div id="img_delete_window" style="display: none">
			<b>Are you sure you want to delete it?</b>
			<button type ="button" id ="img_delete_btn" class="k-button">Delete</button>
 </div>

	
</body>
<!-- kendo -->
	
	<script src="stylesheets/js/jquery.min.js"></script>  
	<script src="stylesheets/js/kendo/angular.min.js"></script>
    <script src="stylesheets/js/kendo/kendo.all.min.js"></script>
    <script src="stylesheets/js/kendo/console.js"></script>
    <script src="/stylesheets/js/index.js" type="text/javascript"></script>
    <script src='/stylesheets/js/handlebars-v2.0.0.js'></script>
    <script src='/stylesheets/js/require.js'></script>

        <script>
        $(document).ready(function() {
        
            var el = kendo.fx($("#album")),
                flip = el.flip("horizontal", $("#album-cover"), $("#album-contents")),
                zoom = el.zoomIn().startValue(1).endValue(0.7);

            flip.add(zoom).duration(200);
			
            $("#album-cover").click(function() {
                flip.stop().play();
            });

            $("#album-contents").click(function() {
                flip.stop().reverse();
            });
            
            
        });
        
        $("#files").kendoUpload();
    </script>
    
</html>