<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>안녕하세요 반갑습니다.</title>

	<!-- Bootstrap Core CSS -->
    <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/css/custom.css" rel="stylesheet">

	<!-- tab CSS && JS -->
	<link rel="stylesheet" href="stylesheets/css/tab-view.css" type="text/css" media="screen">
	<script type="text/javascript" src="stylesheets/js/ajax.js"></script>
	<script type="text/javascript" src="stylesheets/js/tab-view.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<!-- page  CSS & JS -->
	<link rel="stylesheet" type="text/css" href="stylesheets/css/page-css/custom.css" />
	<script src="stylesheets/js/page-js/modernizr.custom.79639.js"></script>
	
	<!-- realTime CSS & JS-->
	 <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/css/css.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/modules/editor.js"></script>
    <script src="/modules/collaboration.js"></script>
    <script src="/modules/treeview.js"></script>
    <link rel="stylesheet" href="codemirror/doc/docs.css">
    <link rel='stylesheet' href="/stylesheets/css/style-editor.css" />

	<!-- treeView CSS -->
	<link rel="stylesheet" href="/stylesheets/css/jqueryFileTree.css">
	</head>

	<!-- navbaEasyui  CSS & JS-->
	<link rel="stylesheet" type="text/css" href="stylesheets/css/easyUi/easyui.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/easyUi/icon.css">
 	<script type="text/javascript" src="stylesheets/js/easyUi/jquery.easyui.min.js"></script>





<body>

<!--navBar  -->
   <div class="easyui-panel" style="padding:5px;">
		<a href="#" class="easyui-linkbutton" data-options="plain:true">IDE</a>
		<a href="#" class="easyui-menubutton" data-options="menu:'#File',iconCls:'icon-edit'">File</a>
		<a href="#" class="easyui-menubutton" data-options="menu:'#Edit',iconCls:'icon-help'">Edit</a>
		<a href="#" class="easyui-menubutton" data-options="menu:'#About'">About</a>
   </div>
   
   <div id="File" style="width:150px;">
		<div>New File</div>
		<div>Open</div>
		<div>
			<span>Open Recent</span>
			<div>
				<div>test01.html</div>
			</div>
		</div>
		
		<div class="menu-sep"></div>
		<div>Save</div>
		<div>Save As...</div>
		
		<div class="menu-sep"></div>
		<div>import</div>
		<div>export</div>
	</div>
	
	<div id="Edit" style="width:100px;">
		<div>Setting</div>
	</div>
	
	<div id="About" style="width:100px;">
		<div>About</div>
	</div>

<!--workspace  -->
	<div id="workspace">
		<div id = "workspace-nav">
		 	<b>Workspace</b>
		</div>
		
		<div id="workspace-list">
			<div class="filetree"></div>
		</div>
	</div>

<!--tab-->
 	<div id= "edit_content">
		<div id="dhtmlgoodies_tabView1">
			<div class="dhtmlgoodies_aTab">
				 <textarea id="code" name="code"></textarea>
			</div>
			
			<div class="dhtmlgoodies_aTab">
				<a href="#" onclick="deleteTab('untitled02.html')">ddd</a>dd<br>
			</div>
			
			<div class="dhtmlgoodies_aTab">
				<a href="#" onclick="deleteTab('untitled03.html')"></a><br>
			</div>
		</div>
	
<!--editor-->	
	 	<div id="content"></div>
 	</div> 
 
 <!--collaborate layout-->
 	<div id="right_bar">
	 	<div id="right_bar_back">
	 		<button id="Collaborate_btn" class="vertical_btn">Collaborate</button>
	 	</div>
 	</div>

<!--chat -->
	<div id="container" class="container">	
		<div class="menu-panel">

			<!-- member -->
				<div id="member_top"><b>Members</b></div>
					<div class="member_layout">
				</div>
					
			<!-- ot_chat -->		
				<div id="chat_top"><b>GropChat</b></div>
				<div class="chatText"></div>
						
			<!-- chat_input  -->
				<div class="chatContainer">
					<input class="text-input"/>
				</div>
					
		</div>
	 </div> 




<!-- JS -->	
    <!-- jQuery -->
    <script src="stylesheets/js/jquery.js"></script>
	<script src='stylesheets/js/jquery-1.11.1.js'></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="stylesheets/js/bootstrap.min.js"></script>
             
    <!-- Tab -->
    <script type="text/javascript">
		initTabs('dhtmlgoodies_tabView1',Array('untitled01.html', 'untitled02.html'),0,500,400,Array(true,true));
	</script>
	
	<!-- page right  -->
		<script src="stylesheets/js/page-js/jquery.mousewheel.js"></script>
		<script src="stylesheets/js/page-js/jquery.jscrollpane.min.js"></script>
		<script src="stylesheets/js/page-js/jquerypp.custom.js"></script>
		<script src="stylesheets/js/page-js/jquery.bookblock.js"></script>
		<script src="stylesheets/js/page-js/page.js"></script>
	
	<!-- treeview -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="stylesheets/js/jqueryFileTree.js"></script>
	
	<!-- ===============================================================================  -->
	
	<!--treeview-->
	<script>
	$(document).ready (function() {
		$('.filetree').fileTree({root: './', script: '/jqueryFileTree'}, function(file) {
		});
		// event listeners
		$('.filetree')
		.on('filetreeexpand', function (e, data) { console.log(data); })
		.on('filetreeexpanded', function (e, data) { console.log(data); })
		.on('filetreecollapsed', function (e, data) { console.log(data); })
		.on('filetreecollapse', function (e, data) { console.log(data); })
		.on('filetreechecked', function (e, data) { console.log(data); })
		.on('filetreeunchecked', function (e, data) { console.log(data); })
		.on('filetreeclicked', function(e, data) { console.log(data); });
		});
		</script>
		
		<!--Collaborate-slide  -->
		<script>
			$(function() {
				Page.init();
			});
		
		  $("#Collaborate_btn").click(event, function() {
		  	 if($('#edit_content').hasClass('smallContent')) {
			      $('#edit_content').removeClass('smallContent');
			      $('#sidebar-resizer').removeClass('smallContent');
				  $('#Collaborate_btn').removeClass('btn_yellow');
			      
			    } else {
			      $('#edit_content').addClass('smallContent');
			      $('#sidebar-resizer').addClass('smallContent');
			      $('#Collaborate_btn').addClass('btn_yellow');
			    }
			});
		</script>
		
		<!-- realtime  -->
		<script>
    	var username = "testuser" + Math.ceil(Math.random() * 100);
    	var filepath = "untitled.txt";
    	
    	var dont_update_first = false;
    	var socket = null;
    	
		$(document).ready(function () {
			socket = io.connect();
			
			editor.init();
			editor.load();
			
			collaboration.init();
			collaboration.join();
			
		});
    </script>
               
</body>
</html>