body{
	background-color:#f1f1f1;
}

.run{
	background-position: 100% ;
	display: block;
	height:100%;
	top: 12px !important;
	height: 25px !important;
	left: 2px;
	right: 0;
	top: 4px;
	bottom: 0;
	background-image :url(https://ide.c9.io/static/plugins/c9.ide.layout.classic/icons/run.png);
	background-repeat: no-repeat;
}


#workspace
{
  border:1px solid #A2A2A2;
  background-color:#fff;
  border-top-right-radius: 0.5em;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 55px;
  width: 22.5%;
}

#workspace-nav
{
  background-color:#fff;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 0px;
  width: 15.5em;
  height: 30px;
}


#workspace-list
{	
  border-top: 1px solid #A2A2A2;
  background-color:#fff;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 30px;
  width: 100%;
}
    
    